<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Admin Panel</title>
</head>
<body>
	<h1>New Orders</h1>
	<table>
		<thead>
			<tr>
				<th>Date & Time</th>
				<th>Customer name</th>
				<th>Customer address</th>
				<th>Customer phone</th>
				<th>Customer telegram</th>
				<th>Menu items</th>
				<th>Total price</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="order : ${newOrders}">
				<td th:text="${order.orderDate.format(T(java.time.format.DateTimeFormatter).ofPattern('dd.MM.yyyy HH:mm'))}"></td>
				<td th:text="${order.user.name}"></td>
				<td th:text="${order.user.address}"></td>
				<td th:text="${order.user.phone}"></td>
				<td th:text="${order.user.telegram}"></td>
				<td>
					<ul>
						<li th:each="item : ${order.itemList}" th:text="${item.name}"></li>
					</ul>
				</td>
				<td th:text="${order.totalPrice}"></td>
				<td th:text="${order.status}"></td>
				<td>
					<form th:action="@{/admin/orders/update/{id}(id=${order.id})}" th:method="post">
						<label for="newOrderStatus_${order.id}"></label>
						<select name="status" id="newOrderStatus_${order.id}">
							<option th:each="status : ${T(org.example.fooddelivery.domain.model.OrderStatus).values()}"
							        th:text="${status}" th:value="${status}"
							></option>
						</select>
						<button type="submit">Update status</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<form th:action="@{/admin/orders/filter}" th:method="get">
		<label for="statusFilter">Filter by Status:</label>
		<select id="statusFilter" name="status">
			<option th:each="status: ${T(org.example.fooddelivery.domain.model.OrderStatus).values()}"
			        th:value="${status}" th:text="${status}"></option>
		</select>
		<button type="submit">Apply filter</button>
	</form>
	<table>
		<thead>
			<tr>
				<th>Date & Time</th>
				<th>Customer name</th>
				<th>Customer address</th>
				<th>Customer phone</th>
				<th>Customer telegram</th>
				<th>Menu items</th>
				<th>Total price</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="order : ${filteredOrders}">
				<td th:text="${order.orderDate}"></td>
				<td th:text="${order.user.name}"></td>
				<td th:text="${order.user.address}"></td>
				<td th:text="${order.user.phone}"></td>
				<td th:text="${order.user.telegram}"></td>
				<td>
					<ul>
						<li th:each="item : ${order.itemList}" th:text="${item.name}"></li>
					</ul>
				</td>
				<td th:text="${order.totalPrice}"></td>
				<td th:text="${order.status}"></td>
				<td>
					<form th:action="@{/admin/orders/update/{id}(id=${order.id})}" th:method="post">
						<label for="filteredOrderStatus_${order.id}">Update Status:</label>
						<select name="status" id="filteredOrderStatus_${order.id}">
							<option th:each="status : ${T(org.example.fooddelivery.domain.model.OrderStatus).values()}"
							        th:text="${status}" th:value="${status}"
							></option>
						</select>
						<button type="submit">Update status</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>