<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{login.title}">Login</title>
</head>
<body>
	<div>
		<a href="?lang=en">English</a> | <a href="?lang=ru">Русский</a>
	</div>
	
	<h1 th:text="#{login.title}">Login</h1>
	<form th:action="@{/users/login}" th:method="post" th:object="${credential}">
		<div>
			<label for="email" th:text="#{login.email}">Email:</label>
			<input type="email" id="email" name="email" required>
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
			<button type="button" onclick="deleteUser()" th:text="#{login.delete}">Delete</button>
		</div> <br>
		<div>
			<label for="password" th:text="#{login.password}">Password:</label>
			<input type="password" id="password" name="password" required>
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
		</div> <br>
		<button type="submit" th:text="#{login.submit}">Login</button>

		<div th:if="${error}" style="color: red">
			<p th:text="${error}"></p>
		</div>
		
		<script>
			function deleteUser() {
				const email = document.getElementById('email').value;
                if (email) {
                    const form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/users/delete';

                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'email';
                    input.value = email;

                    form.appendChild(input);
                    document.body.appendChild(form);
                    form.submit();
                }
            }
		</script>
	</form>
</body>
</html>