<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Menu</title>
</head>
<body>
	<h1>Menu</h1>

<form th:action="@{/order}" th:method="post">
	<div th:each="section: ${menuItemsByCategory}">
		<h2 th:text="${section.key}">Section:</h2>
		<div class="menu-section">
			<div th:each="item : ${section.value}" class="menu-item">
				<input type="checkbox"
				       th:id="|item_${item.id}|"
				       th:name="selectedItemsIds"
				       th:value="${item.id}"
				       onchange="toggleQuantity(this)">
				<label th:for="|item_${item.id}|" th:text="${item.name}"></label>
				<span class="price" th:text="${item.price} + 'руб.'"></span>
				<input type="number"
				       th:id="|quantity_${item.id}|"
				       th:name="quantities"
				       min="1" disabled>
			</div>
		</div>
	</div> <br>
	<button type="submit">Place order</button>
</form>

<div th:if="${error}" style="color: red">
	<p th:text="${error}"></p>
</div>

<script>
    function toggleQuantity(checkbox) {
        const quantityInput = checkbox.parentElement.querySelector('input[type=number]');
        quantityInput.disabled = !checkbox.checked;
        if (!checkbox.checked) {
            quantityInput.value = 1;
        }
    }
</script>
</body>
</html>