<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{register.title}">Register User</title>
</head>
<body>
	<div>
		<a href="?lang=en">English</a> | <a href="?lang=ru">Русский</a>
	</div>

	<h1 th:text="#{register.title}">Register</h1>
	<form th:action="@{/users/register}" th:method="post" th:object="${user}">
		<div>
			<label for="name" th:text="#{register.name}">Name:</label>
			<input type="text" id="name" th:field="*{name}" required>
		</div> <br>
		<div>
			<label for="email" th:text="#{register.email}">Email:</label>
			<input type="email" id="email" th:field="*{email}" required>
		</div> <br>
		<div>
			<label for="password" th:text="#{register.password}">Password:</label>
			<input type="password" id="password" th:field="*{password}" required>
		</div> <br>
		<div>
			<label for="phone" th:text="#{register.phone}">Phone:</label>
			<input type="text" id="phone" th:field="*{phone}">
		</div> <br>
		<div>
			<label for="telegram" th:text="#{register.telegram}">Telegram:</label>
			<input type="text" id="telegram" th:field="*{telegram}">
		</div> <br>
		<div>
			<label for="address" th:text="#{register.address}">Address:</label>
			<input type="text" id="address" th:field="*{address}">
		</div> <br>
		<button type="submit" th:text="#{register.submit}">Register</button>
	</form>
	<p th:text="#{register.already_registered_question}">Already registered?</p>
	<a th:href="@{/users/login}">
		<button type="button" th:text="#{register.login}">Login</button>
	</a>
</body>
</html>